

services:
  app:
    build: .
    ports:
      - "3300:3300"
    environment:
      - DB_PASSWORD=${DB_PASSWORD}
      - DB_NAME=${DB_NAME}
      - DB_PORT=${DB_PORT}
      - DB_HOST=db
      - DB_USERNAME=${DB_USERNAME}
      - PORT=${PORT}
      - JWT_SECRET_KEY=${JWT_SECRET_KEY}
      - AUTHORIZED_FRONTEND_DOMAIN=${AUTHORIZED_FRONTEND_DOMAIN}    
      - FILE_SERVER_SERVICE_URL=${FILE_SERVER_SERVICE_URL}
      - GOOGLE_GEMINI_AI_API_KEY=${GOOGLE_GEMINI_AI_API_KEY}
    depends_on:
      - db
    restart: unless-stopped
    networks:
      - app-network

  db:
    image: postgres:13
    environment:
      - POSTGRES_DB=${DB_NAME}
      - POSTGRES_USER=${DB_USERNAME}
      - POSTGRES_PASSWORD=${DB_PASSWORD}
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    restart: unless-stopped
    networks:
      - app-network

volumes:
  postgres_data:

networks:
  app-network:
    driver: bridge
