name: Automatic Deploy to AWS Ec2

on:
  push:
    branches: ['main']

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Código fuente - Checkout
        uses: actions/checkout@v3

      - name: Desplegar en EC2 vía SSH
        uses: appleboy/ssh-action@v1.0.0
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.EC2_USER }}
          key: ${{ secrets.EC2_SSH_KEY }}
          script: |
            cd www/inmob_api 
            git pull origin main
            npm install
            npm run build
            pm2 restart nombre-de-tu-app  # Reinicia la app con PM2
